<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Soamee</a>
          <li class="nav-item">
            <button class="btn btn-primary" (click)="showBooks()">Ver Libros</button>
          </li>
    </div>
</nav>

<div id="bookList"></div>
<div>
    <table class="table table-hover bordered table-striped" hidden id="table1">
        <thead>
            <th scope="col">Libros</th>
        </thead>
        <tbody>
            <tr>
                <td class="bookNames" *ngFor="let book of books" (click)="getAllDataFromBook(book.id)">{{book.name}}</td>
            </tr>
        </tbody>
      </table>

      <table class="table table-hover bordered table-striped" hidden id="table2">
          <thead>
            <th scope="col">Nombre</th>
            <th scope="col">ISBN</th>
            <th scope="col">Autor</th>
          </thead>
          <tbody>
            <tr>
                <td *ngFor="let data of book">{{data.name}}</td>
                <td *ngFor="let data of book">{{data.isbn}}</td>
                <td *ngFor="let author of authors">{{author.first_name}} {{author.last_name}}</td>
            </tr>
          </tbody>
      </table>

      <div class="card" style="width: 18rem; display:block; margin: 0 auto;">
        <img class="card-img-top" src="..\..\assets\book.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="container">
                <form #bookForm="ngForm" (ngSubmit)="addBook(bookForm.value)" id="bookForm">
                    <div class="form-group">
                        <label for="name">Nombre del Libro</label><br>
                        <input type="text" ngModel name="name">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label><br>
                        <input type="number" ngModel name="isbn">
                    </div>
                    <div class="form-group">
                        <label for="autor">Autor</label><br>
                        <input type="text" ngModel name="autor">
                    </div>
                    <div class="form-group">
                        <br>
                        <button class="btn btn-primary" style="display:block; margin: 0 auto;">Añadir</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
</div>