<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Soamee</a>
          <li class="nav-item">
            <button class="btn btn-primary" (click)="showBooks()">Books</button>
          </li>
    </div>
</nav>

<div id="bookList"></div>
<div>
    <table class="table table-hover bordered table-striped">
        <thead>
            <th scope="col">Libros</th>
        </thead>
        <tbody>
            <tr>
                <td class="bookNames" *ngFor="let book of books" (click)="getAllDataFromBook(book.id)">{{book.name}}</td>
            </tr>
        </tbody>
      </table>

      <table class="table table-hover bordered table-striped">
          <thead>
            <th scope="col">Nombre</th>
            <th scope="col">ISBN</th>
            <th scope="col">Autor</th>
          </thead>
          <tbody>
            <tr>
                <td *ngFor="let data of book">{{data.name}}</td>
                <td *ngFor="let data of book">{{data.isbn}}</td>
                <td *ngFor="let author of authors">{{author.first_name}} {{author.last_name}}</td>
            </tr>
          </tbody>
      </table>
</div>