.bookNames {
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.bookNames:hover {
    border: solid goldenrod 1px;
    font-weight: bolder;
}

#bookForm {
    text-align: center;
}

input {
    border-radius: 5%;
}